<ion-view view-title="A propos">
	<ion-content scroll="true" class="padding">
		<h1>A propos</h1>

		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut dolore error quod consequuntur in tempora aliquid. Commodi doloremque soluta illo velit ab voluptates voluptatem, facilis veniam totam, esse quibusdam.</div>
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut dolore error quod consequuntur in tempora aliquid. Commodi doloremque soluta illo velit ab voluptates voluptatem, facilis veniam totam, esse quibusdam.</div>
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut dolore error quod consequuntur in tempora aliquid. Commodi doloremque soluta illo velit ab voluptates voluptatem, facilis veniam totam, esse quibusdam.</div>
	
	</ion-content>

</ion-view>

