<ion-view view-title='auth'> 
	<div class="bar bar-subheader" >
      <h2 class="title">Connexion</h2>
    </div>
	<ion-content scroll='true' class="padding has-subheader">
		
		<div class="list padding">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Email</span>
				<input type="email" placeholder="ryanchenkie@gmail.com" ng-model="auth.email">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Mot de passe</span>
				<input type="password" placeholder="Password" ng-model="auth.password" ng-keyup="$event.keyCode == 13 && auth.login()">
			</label>
			<button class="button button-block button-calm" ng-click="auth.login()">
				Se connecter
			</button>
		</div>

		<ion-spinner icon="ripple" ng-if="loading" class="spinner-positive"></ion-spinner>

	</ion-content>
</ion-view>

