
 <ion-view view-title="conducteur">
    <div class="bar bar-subheader" >
      <h2 class="title">Rechercher passagers</h2>
    </div>

    <ion-content class="padding has-subheader">
    
    <h4>Bonjour {{ currentUser.name }}</h4>
    
    <div class="list list-inset">    
      
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text"  list="villes" placeholder="Ville de départ" ng-model="user.villeDepart">
        </label>
    </div>
    <button class="button button-block button-positive" ng-click="user.getAlertes()">
      Trouver !
    </button>
    <button class="button button-block button-balanced" ng-click="user.geoloc()">
      Ma position
    </button>
    <ion-spinner icon="spiral" ng-if="loading" class="spinner-assertive"></ion-spinner>
      
  </ion-content>
</ion-view>