
 <ion-view view-title="conducteur">
    <div class="bar bar-subheader" >
      <h2 class="title">Rechercher passagers</h2>
    </div>
  <ion-content class="padding has-subheader">

   <div class="list list-inset">    
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Ville de départ">
    </label>
  </div>
    <ul class="list" ng-if="user">
            <h4>N°{{user.currentUser.id}} {{user.currentUsername}}</h4> </a>
            <h5>{{user.mail}}</h5>          
        
    </ul>
    <div class="alert alert-danger" ng-if="user.error">
        <strong>There was an error: </strong> {{user.error.error}}
        <br>Please go back and login again
    </div>
    <button class="button button-block button-positive">
      Trouver !
    </button>
  

    
  </ion-content>

</ion-view>