<!-- public/views/userView.html -->
<ion-view view-title='home'>


    <ion-tabs class="tabs-icon">

        <ion-tab title="Passager" class="btnPassager" icon="ion-android-contact" ui-sref="home.passager">
        	<ion-nav-view name="passager"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Conducteur" class="btnConducteur" icon="ion-android-car" ui-sref="home.conducteur" ng-click="user.onTabSelected()">
        	<ion-nav-view name="conducteur"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
    <ion-nav-view name="alertes"></ion-nav-view>

</ion-view>