<ion-view view-title='home'>
	<ion-content scroll='true' class="padding">
		
		<div class="list">
			<label class="item item-input">
				<input type="email" placeholder="ryanchenkie@gmail.com" ng-model="auth.email">
			</label>
			<label class="item item-input">
				<input type="password" placeholder="Password" ng-model="auth.password">
			</label>
			<button class="button button-block button-positive" ng-click="auth.login()">
				Se connecter
			</button>
		</div>

	</ion-content>
</ion-view>

