<!-- public/views/userView.html -->
<ion-view view-title='home'>

     <ion-tabs class="tabs-icon-top tabs-positive">

        <ion-tab title="Conducteur" icon="ion-android-person-add" ui-sref="home.conducteur">
          <ion-nav-view name="conducteur"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Passager" icon="ion-android-notifications" ui-sref="home.passager" ng-click="user.updateDepose()">
          <ion-nav-view name="passager"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
	<ion-nav-view name="alertes"></ion-nav-view>

    </ion-content>
</ion-view>